@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.container.mt-5.mit{

 color: aquamarine;
 Font-family:"Cal Sans", sans-serif;

}

#bodicito{
    background-image: url('../img/princi4.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
     Font-family:"Cal Sans", sans-serif;
}

main {
    margin-top: 1%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .steps{
    float: left;
    margin-left: 10%;

  }

  .steps1{
    margin-left: 10%;
  }
 

 
  .how-it-works {
    width: 50%;
    height: 500px;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
    float: left;
    background: rgba(25, 25, 25, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 100px;
    color: #fff;
     
    
     
  }


  .how-it-works p:hover{
    scale: 1.1;
    color: #fff;
  }



 .how-it-works h2{
    color: #fff;
  }


  .how-it-works h2:hover{
    scale: 1.2;

  }

  .how-it-works a {
    color: antiquewhite;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
  }
  
  

  .btn.btn-danger.mt-3.cerrar{

    margin-left: 88%;
    
  }

  .how-it-works img{

   width: 200px;
   height: 200px;
   color: #fff;
   filter: invert(80%) sepia(500%) saturate(600%) hue-rotate(180deg);

  }

  .how-it-works img:hover{
   scale: 1.1;

  }


  .container-fluid a:hover{
  color: aquamarine;
  scale: 1.1;
}