@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.bodicito{
    background-image: url('../img/princi_2.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    Font-family:"Cal Sans", sans-serif;

}


    .form-container {
      width: 90%;
      margin: 150px auto;
      padding: 20px;
      color: antiquewhite;
      border-radius: 10px;
      box-shadow: 2px -2px 7px 2px #0CFFF4, -2px 2px 7px 2px #FF1493 ;
      background: linear-gradient(to bottom, rgb(31, 31, 101), #FF1493);
    }

    .parte{

      margin-left: 6%;
      float: left;
      width: 40%;
     
      
    }

    .parte2{
     margin-left: 8%;
     width: 40%;
     float: left;
   

    }



    .form-container input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      Font-family:"Cal Sans", sans-serif;
      border-radius: 5px;
      
    }

    
    button {
      width: 30%;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 5px;
      
    }


    .but{
      margin-top: 2%;
      margin-left: 35%;
      height: 50px;
      font-size: 20px;
    }


    #tittle{
        margin-left: 40%;
        margin-top: 4%;
        font-size: 50px;
        Font-family:"Cal Sans", sans-serif;
        color: aquamarine;
    }

   

    