body{

    background-image: url('../img/princi_2.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
     Font-family:"Cal Sans", sans-serif;
    

}



#logo{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 8%;
}

.card{
    border: #FF1493 1px solid;
    background: linear-gradient(to bottom, rgb(31, 31, 101), #FF1493);
     Font-family:"Cal Sans", sans-serif;
    
}

.card input{
    background-color: antiquewhite;
}

.card label{
    color: white;
}

.card h4{
    color: white;
}



.d-grid{
    margin-bottom: 3%;
}

.d-grid.mi-grid{

    width: 50%;
    margin-left: 25%;

}

.forgot{
    margin-left: 32%;
    color: white;
}