.mybody{
  background-image: url(../img/findito.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
   Font-family:"Cal Sans", sans-serif;
}

  .title{
    margin-top: 5%;
    color: aquamarine;
    font-size: 50px;
    
  }

 

.card{
  box-shadow: 2px -2px 7px 2px #0CFFF4, -2px 2px 7px 2px #FF1493 ;
  Font-family:"Cal Sans", sans-serif !important;
  margin-bottom: 2%;
}

