 .footer{
    color:#f9f7f7;
    text-align: center;
    display:flex;
    margin-top: 4%;
    background-color:#7c199b;
    padding: 1%;


  }
  .footer-contenido{
    margin: auto;
    

  }
  .redes{
    color:blue;
  }

  

  

  

  