@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

.mybody{
  background-image: url(../img/findito.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}





.table.table-striped.table-dark{
    width: 90%;
    margin-left: 4%;
    box-shadow: 2px -2px 7px 2px #0CFFF4, -2px 2px 7px 2px #FF1493 ;
}



  .btn.btn-danger.volver{

      margin-left: 90%;
      margin-bottom: 2%;
  }

  .container.yo{
    float: left;
    margin-left: 4%;
    color: antiquewhite;
  }

  .container.yo input.id{
    background-color: #effefe;
    height: 50px;
    border-radius: 5px;
  }

  .btn.btn-primary.crear{

      margin-left: 85%;
      
  }
 
  .container.mt-5.mit{
    margin-left: 40%;
    color: aquamarine;
    margin-bottom: 5%;
}


.btn.btn-primary.indicador-button{
    border-radius: 5px;
    transition: all 0.3s ease; 
    text-decoration: none;
}

.btn.btn-primary.indicador-button:hover {
    background-color: green; /* Darker blue on hover */
    transform: translateY(-1px);
    
}

.btn.btn-primary.indicador-button.active-button {

    background-color: green; /* Green background */
    text-decoration: none; /* Add the underline */
    font-weight: bold; /* Make text bold */
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.5); /* A subtle glow */
    
}